include ./mixins.jade
doctype html
html
    head
        meta(charset="utf-8")
    body
        style(type="text/css"): include ../.tmp/styles.css
        .b-ip-banner
            .b-ip-banner__part.b-ip-banner__part--left
            .b-ip-banner__part.b-ip-banner__part--right
                .b-countdown-timer
                    +countdown-timer()