include ./mixins.jade
head
    style(type="text/css"): include ../.tmp/styles.css
body
    
    .b-ip-banner.b-ip-banner--white
        .b-ip-banner__part.b-ip-banner__part--left
        .b-ip-banner__part.b-ip-banner__part--right
            .b-ip-banner__part-inner
                +countdown-timer('До акции осталось', '2016-11-25 00:00:00', 'js-countdown-timer')
    script(type="text/javascript"): include ../.tmp/scripts.js
