mixin countdown-timer()
    .b-countdown-timer
        .b-countdown-timer__inner
            +countdown-timer-flip('Неделя',  'weeks')
            +countdown-timer-flip('Дни',     'days')
            +countdown-timer-flip('Часы',    'hours')
            +countdown-timer-flip('Минуты',  'minutes')
            +countdown-timer-flip('Секунды', 'seconds')

mixin countdown-timer-flip(flipTitle, flipClass)
    .e-timer-item(class= flipClass) #time flip hours
        span.count.curr.top 00
        span.count.next.top 09
        span.count.next.bottom 09
        span.count.curr.bottom 00
        span.e-timer-item__label= flipTitle
