mixin countdown-timer(title, finalDate, className)
    - className = className || '';
    .b-countdown-timer(class= className, data-finaldate= finalDate)
        .b-countdown-timer__title= title
        .b-countdown-timer__inner.js-countdown-timer-container
            +countdown-timer-flip('дд', 'days')
            +countdown-timer-flip('чч', 'hours')
            +countdown-timer-flip('мм', 'minutes')
            +countdown-timer-flip('сс', 'seconds')

mixin countdown-timer-flip(flipTitle, flipClass)
    .e-timer-item(class= flipClass)
        span.count.curr.top 00
        span.count.next.top 00
        span.count.next.bottom 00
        span.count.curr.bottom 00
        span.e-timer-item__label= flipTitle
