.b-countdown-timer
    margin 0
    padding 0
    width 21em
    
    &__title
        color #000
        text-align center
        font-size 1.3em
        font-weight 100
        line-height 2.2em
        
        .b-ip-banner--white &
            color #fff
    
    &__inner
        &::after
            content ''
            display table
            clear both
        
.e-timer-item
    border-radius 5px
    box-shadow 0 0 10px 0 rgba(0,0,0,0.5)
    display block
    text-align center
    position relative
    height 3em
    width 4em
    perspective 10em
    backface-visibility hidden
    transform translateZ(0)
    transform translate3d(0,0,0)
    margin 0 1em 0 0
    float left
    
    &::after, &::before
        content ''
        position absolute
        right -.7em
        display block
        width .3em
        height .3em
        border-radius 50% 50%
        background #000
        
    &::after
        top 30%
    &::before
        bottom 30%

        
    &:last-child
        margin 0
        
        &::after, &::before
            content ''
            display none
    
    .count
        background #202020
        color #f8f8f8
        display block
        font 2.4em/1.2 sans-serif
        letter-spacing .2em
        text-indent .2em
        overflow hidden
        position absolute
        text-align center
        text-shadow 0 0 10px rgba(0, 0, 0, 0.8)
        top 0
        width 100%
        transform translateZ(0)
        transform-style flat
        
        .b-ip-banner--white &
            color #333
            background #e0e0e0
            text-shadow 0 0 10px rgba(255, 255, 255, 0.8)
        
        &.top
            border-top 1px solid rgba(255,255,255,0.2)
            border-bottom 1px solid rgba(255,255,255,0.1)
            border-radius 5px 5px 0 0
            height 50%
            transform-origin 50% 100%
            
            .b-ip-banner--white &
                border-top 1px solid rgba(0,0,0,0.2)
                border-bottom 1px solid rgba(0,0,0,0.1)
            
            &.curr
                transform rotateX(0deg)
                z-index 3
                
        &.bottom
            background-image linear-gradient(rgba(255,255,255,0.1), transparent)
            border-top 1px solid #000
            border-bottom 1px solid #000
            border-radius 0 0 5px 5px
            line-height 0
            height 50%
            top 50%
            transform-origin 50% 0
            
            .b-ip-banner--white &
                background-image linear-gradient(rgba(0,0,0,0.1), transparent)
                border-top 1px solid #fff
                border-bottom 1px solid #fff
            
            &.next
                transform rotateX(90deg)
                z-index 2
            
    &__label
        font 1em/1 sans-serif
        display block
        position absolute
        top 3.4em
        width 100%
        color #000
        
        .b-ip-banner--white &
            color #fff
        
    &.flip
        .count.curr.top
            transition all 250ms ease-in-out
            transform rotateX(-90deg)
        
        .count.next.bottom
            transition all 250ms ease-in-out 250ms
            transform rotateX(0deg)           
            